:host {
  background: black;
  display: block;
  width: 100%;
}

:host >>> .popover {
  max-width: 100%;
}

:host .btn,
:host .dropdown-menu,
:host >>> .popover-title,
:host input {
  font-size: 0.84rem;
}
