nav {
  background-color: #cc181e;
  padding: 8px 0;
}

.navbar-brand > img {
  height: 32px;
  margin-left: 10px;
}

firebase-signout >>> button:before {
  content: '\f167';
  font-family: FontAwesome;
  display: inline-block;
  margin-right: 0.3em;
}
