<div class="video-playlist-loader">
  <div [popover]="popTemplateForCreate" popoverTitle="Enter playlist name:" triggers="" #popForCreate="bs-popover"></div>
  <div [popover]="popTemplateForRename" popoverTitle="Enter new playlist name:" triggers="" #popForRename="bs-popover"></div>
  <div class="btn-group btn-group-flat" role="group">
    <div class="btn-group dropup" dropdown >
      <button *ngIf="!creating" id="single-button" type="button" class="btn btn-black" dropdownToggle>
        Playlist
        <span *ngIf="active">: {{ active.name }}</span>
      </button>
      <ul dropdownMenu role="menu" aria-labelledby="single-button">
        <li *ngFor="let playlist of playlists;" role="menuitem">
          <a [class.active]="active == playlist" (click)="load(playlist)" class="dropdown-item" href="javascript:">{{ playlist.name }}</a>
        </li>
        <li [hidden]="!playlists.length" class="divider dropdown-divider"></li>
        <li *ngIf="active" role="menuitem">
          <a class="dropdown-item" href="javascript:" (click)="popForRename.show()"><i class="fa fa-pencil"></i> Rename "{{ active.name }}"</a>
        </li>
        <li *ngIf="active" role="menuitem">
          <a class="dropdown-item" href="javascript:" (click)="delete(active)"><i class="fa fa-trash"></i> Delete "{{ active.name }}"</a>
        </li>
        <li *ngIf="active" class="divider dropdown-divider"></li>
        <li role="menuitem"><a class="dropdown-item" (click)="popForCreate.show()" href="javascript:">Create new</a></li>
      </ul>
    </div>
  </div>
</div>

<template #popTemplateForCreate>
  <form action="javascript:" (submit)="create(name, popForCreate)">
    <div class="input-group">
      <input type="text" class="form-control" #name placeholder="my awesome list">
      <span class="input-group-btn">
        <button class="btn btn-primary" type="submit">create</button>
      </span>
      <span class="input-group-btn">
        <button class="btn btn-danger" (click)="popForCreate.hide()">cancel</button>
      </span>
    </div>
  </form>
</template>
<template #popTemplateForRename>
  <form *ngIf="active" action="javascript:" (submit)="rename(name, popForRename)">
    <div class="input-group">
      <input type="text" class="form-control" #name [value]="active.name" placeholder="my awesome list">
      <span class="input-group-btn">
        <button class="btn btn-primary" type="submit">rename</button>
      </span>
      <span class="input-group-btn">
        <button class="btn btn-danger" (click)="popForRename.hide()">cancel</button>
      </span>
    </div>
  </form>
</template>
