.video-playlist-loader {
  background: black;
}
.btn-black {
  background: black;
  color: white;
}
.dropdown-toggle::after {
  /*display: none;*/
}
.video-playlist-loader input {
  border-radius: 0px;
  border: 1px solid #fff;
}

:host >>> .popover {
  max-width: 100%;
}
