.video-playlist-loader {
  background: black;
}
.btn-black {
  background: black;
  color: white;
}

:host input input {
  border-radius: 0px;
}

:host .popover {
  max-width: 100%;
}

:host .btn,
:host .dropdown-menu,
:host >>> .popover-title,
:host input {
  font-size: 0.85rem;
}
