.list-group {
  padding-top: .75rem;
}

.list-group-item {
  padding-top: 0px;
}


.pagination-centered {
    text-align: center;
}

li {
    border: none;
}

.playing {
    background-color: #ffdada;
}
