<dl-header></dl-header>
<div *ngIf="ready$ | async" class="container">
  <div class="row">
    <div class="col-6">
      <h3 *ngIf="auth.authenticated">Hello, {{ auth.authState.auth.displayName }}</h3>
      <button *ngIf="!auth.authenticated" (click)="signInWithFacebook()" class="btn btn-primary"><i class="fa fa-facebook-square"></i> Login with Facebook</button>
      <button *ngIf="auth.authenticated" (click)="signOut()" class="btn btn-danger">Logout</button>
      <search-result (onItemClick)="enqueue($event)"></search-result>
    </div>
    <div class="col-6">
      <video-player></video-player>
      <playlist-control></playlist-control>
      <playlist-entries></playlist-entries>
      <playlist-loader></playlist-loader>
    </div>
  </div>
</div>
