.loading {
  opacity: 0;
  transition: opacity 1s ease-in-out;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: #1b6f7e;
  z-index: -1;
}

.loading img {
  position: absolute;
  top: 45%;
  left: 45%;
  height: 80px;
  width: auto;
}

app:empty + .loading {
  opacity: 1;
  z-index: 100;
}

.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out
}

li.gu-mirror {
  list-style-type: none;
  font-size: 13px;
}

/* ----------------------------------------------------- */
/* additional bs4 button addon */

.btn-group-justified {
  display: table;
  width: 100%;
  table-layout: fixed;
  border-collapse: separate;
}
.btn-group-justified .btn,
.btn-group-justified .btn-group {
  float: none;
  display: table-cell;
  width: 1%;
}
.btn-group-justified .btn .btn,
.btn-group-justified .btn-group .btn {
  width: 100%;
}
.btn-group-justified .btn .dropdown-menu,
.btn-group-justified .btn-group .dropdown-menu {
  left: auto;
}

.btn-group-flat .btn {
  border-radius: 0 !important;
}
.btn-group-no-focus .btn:focus {
  outline: none !important;
}
.btn-group-no-focus .btn-primary:focus {
  color: #fff;
  background-color: #0275d8;
  border-color: #0275d8;
}

.btn-group-no-focus .btn-primary.active:focus {
  color: #fff;
  background-color: #025aa5;
  background-image: none;
  border-color: #01549b;
}

.btn-black {
  background: black;
  color: white;
}

.btn {
  cursor: pointer;
}


/* ----------------------------------------------------- */
/* bootstrap4 pagination override */

.pagination {
  font-size: 0.8rem;
}


/* ----------------------------------------------------- */
/* reponsive aspact ratio element */

.embed-container {
  position: relative;
  height: 0;
  overflow: hidden;
  background-color:black;
}

.embed-container img {
  position: absolute;
  top: 0;
  left: 0;
  width:100%;
}

.ratio-16-9 {
  padding-bottom:56.25%;
}

.ratio-4-3 {
  padding-bottom:75%;
}

.ratio-1-1 {
  padding-bottom:100%;
}


/* ----------------------------------------------------- */
/* animation stuff */

@keyframes octocat-wave {
  0%, 100% {
    transform: rotate(0)
  }
  20%, 60% {
    transform: rotate(-25deg)
  }
  40%, 80% {
    transform: rotate(10deg)
  }
}

@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    animation: none
  }

  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out
  }
}
